.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  height: 40px;
  width: 280px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-content: space-between;
  /* outline: none; */
  border: 1px solid #000000;
  padding: none;
  border-radius: 10px;
  overflow: hidden;
}
.button :hover {
  cursor: pointer;
}

.icon-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #8a8989; */
  font-size: 12px;
}

.icon {
  font-size: 20px;
  /* color: #ffffff; */
  padding: 1px;
}

.text {
  background-color: #0000ff;
  padding: 1px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  width: 100%;
  color: #ffffff;
}
